<%- include("./partials/header") %>
<div class="row">
    <div class="col-md-12">
        <form class="form-signin" action="/register" method="POST">
            <h1 class="h3 mb-3 font-weight-normal">Please sign up!</h1>

            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="inputUsername" class="form-control" name="username" placeholder="Username" required
                autofocus>

            <label for="SignupInputPassword" class="sr-only">Password</label>
            <input type="password" id="SignupInputPassword" class="form-control" name="password" placeholder="Password"
                required>

            <label for="firstName" class="sr-only">First Name</label>
            <input type="text" id="firstName" class="form-control" name="firstName" placeholder="Abhinav" required
                autofocus>

            <label for="lastName" class="sr-only">Last Name</label>
            <input type="text" id="lastName" class="form-control" name="lastName" placeholder="Gupta" autofocus>

            <label for="email" class="sr-only">Email address</label>
            <input type="email" id="email" class="form-control" name="email" placeholder="abc@xyz.com" required
                autofocus>

            <label for="SignupAvatar" class="sr-only">Avatar Link</label>
            <input type="text" id="SignupAvatar" class="form-control" name="avatar" placeholder="avatar url">

            <label for="adminCode" class="sr-only">Admin Code</label>
            <input type="text" id="adminCode" class="form-control" name="adminCode" placeholder="admin code" hidden>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        </form>
        <div class="form-signin">
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>
<%- include("./partials/footer") %>