<%- include("./partials/header") %>
<div class="container mt-5">
    <div class="row">
        <div class="col"></div>
        <div class="col-sm-7 col-md-6 col-lg-5">
            <div class="card shadow border-0">
                <div class="card-body">
                    <h1 class="text-center">Sign Up!</h1>
                    <!-- <p>
                        <small class="text-muted">Fields marked * are required.</small>
                    </p> -->
                    <form class="form-signin" action="/register" enctype="multipart/form-data" method="POST">
                        <label for="fullName" class="sr-only">Name*</label>
                        <input type="text" name="fullName" class="form-control" id="fullName" placeholder="Name"
                            required autofocus>
                        <div class="invalid-feedback">
                            Please enter your name.
                        </div>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" name="image" accept="image/*" class="custom-file-input"
                                    id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01">Avatar</label>
                            </div>
                        </div>

                        <label for="email" class="sr-only">Email*</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="email" required
                            autofocus>
                        <div class="invalid-feedback">
                            Please provide an email.
                        </div>
                        <label for="phone" class=<input type="text" name="phone" class="form-control" id="phone"
                            placeholder="123-456-6789" autofocus>
                            <label for="inputUsername" class="sr-only">Username*</label>
                            <input type="text" name="username" class="form-control" id="inputUsername"
                                placeholder="username" required autofocus>
                            <div class="invalid-feedback">
                                Please choose a username.
                            </div>
                            <label for="SignupInputPassword" class="sr-only">Password*</label>
                            <input type="password" name="password" class="form-control" id="SignupInputPassword"
                                placeholder="password" required>
                            <div class="invalid-feedback">
                                Please enter a password.
                            </div>
                            <label for="adminCode" class="sr-only">Admin Code</label>
                            <input type="text" id="adminCode" class="form-control" name="adminCode"
                                placeholder="admin code" hidden>
                            <div class="form-group mt-2">
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
                            </div>
                    </form>
                    <div class="mt-2 text-center">
                        Have an account?
                        <a href="/login">Login</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"> </div>
    </div>
</div>
<%- include("./partials/footer") %>